<html>
    <body>
        <table>
            <thead>
                <tr>
                    <td>Nome</td>
                    <td>Descricao</td>
                    <td>Preco</td>
                    <td>Quantidade</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Camiseta</td>
                    <td>Bem bonita</td>
                    <td>30</td>
                    <td>10</td>
                </tr>
            </tbody>
        </table>
    </body>
</html>